<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'edit.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{user.f_name}}! Let's edit your trip!</h1>
    <a href="/" class="logout">Log out</a>
    <hr>


    {% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li>
            {{ message }}
        </li>
            {% endfor %}
    </ul>
    {% endif %}


    <form action="/trips/edit/{{trip.id}}/update" method="POST">
        {% csrf_token %}
        <label for="destination">Destination</label><br>
        <input type="text" name="destination" id="destination" placeholder="Destination" value="{{ trip.destination }}"><br>
        <label for="start_date">Start Date</label><br>
        <input type="date" id="start_date" name="start_date" placeholder="Start Date" ><br>
        <label for="end_date">End Date</label><br>
        <input type="date" id="end_date" name="end_date" placeholder="End Date" ><br>
        <label for="plan" class="planlabel">Plan</label><br>
        <input type="text"  class="plan" name="plan" id="plan" value="{{ trip.plan }}">

        <div class="buttons">
            <input class="submit" type="submit" value="Submit">
        </div>
    </form>
    <a href="/dashboard">Cancel</a>
</body>
</html>